# Ignore virtual environment
.venv/

# Byte-compiled / cached files
__pycache__/
*.py[cod]
*.swp

# Logs and databases
*.log
*.sqlite3

# Environment variables and secrets
.env
.DS_Store

# IDE/editor specific files
.vscode/
.idea/
